.dropdown-header-title {
    display: inline-block;
}
.dropdown-header-button {
    display: inline-block;
    padding-left: 1em;
    vertical-align: text-bottom;
}

.custom-blueimp {
    color: #fff; /* Undo Bootstrap's CSS reset */
}

.custom-navbar {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.50);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.50);
}

.image-description {
    display: inline-block;
}
.cell-description  { 
    display: inline;
}
.report-link { 
    font-size: small;
    display: inline;
}

.report-thumbnail {
    display: block;
    clear: left;
    margin-bottom: 1em;
    overflow: hidden;
}
.report-thumbnail-title {
    display: block;
    font-size: 130%;
    margin-bottom: 2px;
}
.report-thumbnail-image {
    display: inline-block;
    margin-right: 5px;
    float: left;
}
.report-thumbnail-date {
    display: block;
}
.report-thumbnail-type {
    display: block;
}

a img {
    border: 0px;
}

.report-summary-container {
    margin-bottom: 1em;
}

.report-summary-name {
    margin-bottom: 0;
    margin-top: 0.25em;
}

.flow-list {
    padding: 0;
    margin: 0
}

.flow-list-item {
    display: inline-block;
    padding-right: 10px;
    padding-top: 5px;
    vertical-align: top;
}
