<ul class="flow-list floated-flow-list">
  <li class="flow-list-item">
    <table class="table table-minimize-width">
      <thead>
        <tr>
          <tmpl_loop list_columns>
            <th scope="col"><tmpl_var name /></th>
          </tmpl_loop>
        </tr>
      </thead>

      <tbody>
        <tmpl_loop list_rows>
          <tr>
            <tmpl_loop cells>
              <td>
                <tmpl_if url>
                  <a href="<tmpl_var url />">
                </tmpl_if>
                <tmpl_var escape="none" value_html />
                <tmpl_if url>
                  </a>
                </tmpl_if>
              </td>
            </tmpl_loop>
          </tr>
        </tmpl_loop>
      </tbody>
    </table>
  </li>

  <tmpl_if map_inputs>
    <li class="flow-list-item">
      <tmpl_include ../shared/map.html />
    </li>
  </tmpl_if>

  <tmpl_loop pictures>
    <li class="flow-list-item">
      <tmpl_include ../picture/single.html />
    </li>
  </tmpl_loop>
</ul>

<br clear="all" />
