.field-container {
    display: block;
}
.field-name {
    display: inline;
    font-weight: bold;
}
.field-value {
    display: inline;
}

.centered-spinner {
    left: 50%;
    pointer-events: none;
    position: absolute;
    top: 50%;
}

.dropdown-header-title {
    display: inline;
}
.dropdown-header-button {
    display: inline-block;
    vertical-align: text-top;
}

.custom-blueimp {
    color: #fff; /* Undo Bootstrap's CSS reset */
}

.table-minimize-width {
    width: auto !important;
}

.custom-navbar {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.50);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.50);
    margin-bottom: 10px;
}

.cell-container {
    display: table;
}
.cell-caption {
    display: table-caption;
    caption-side: bottom;
}
.cell-description  {
    display: inline;
}
.cell-date {
    font-size: small;
    display: inline;
}

.trip-thumbnail {
    display: block;
    clear: left;
    margin-bottom: 1em;
    overflow: hidden;
}
.trip-thumbnail-title {
    display: block;
    font-size: 130%;
    margin-bottom: 2px;
}
.trip-thumbnail-image {
    display: inline-block;
    margin-right: 5px;
    float: left;
}
.trip-thumbnail-date {
    display: block;
}
.trip-thumbnail-type {
    display: block;
}

a img {
    border: 0px;
}

.trip-summary-container {
    margin-bottom: 1em;
}

.trip-summary-name {
    margin-bottom: 0;
    margin-top: 0.25em;
}

.flow-list {
    padding: 0;
    margin: 0
}
ul.floated-flow-list > li:first-of-type {
    float: left;
}
.flow-list-item {
    display: inline-block;
    padding-right: 10px;
    padding-top: 5px;
    vertical-align: top;
}

.non-bootstrap-content {
    margin-left: 15px;
}

.basic-list-item {
    display: block;
}
