<div class="dropright">
  <button class="btn btn-outline-secondary btn-sm dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
    Change Year
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <tmpl_loop change_year_dropdown_items>
          <a class="dropdown-item" href="<tmpl_var escape=none url />"><tmpl_var text /></a>
      </tmpl_loop>
  </div>
</div>
