<!doctype html>
<html lang="en">
  <head>
    <TMPL_INCLUDE NAME="../shared/head.html" />
  </head>
  <body>
    <TMPL_INCLUDE NAME="../shared/navbar.html" />

    <div class="container">
      <div class="row">
        <div class="col-12">
          <TMPL_INCLUDE NAME="../shared/heading-with-dropdown.html" />
        </div>
      </div>

      <TMPL_LOOP NAME="trips">
        <div class="row">
          <div class="col-12">
            <h2 class="trip-summary-name">
              <tmpl_if url >
                <a href="<tmpl_var url escape=none />">
              </tmpl_if>
              <tmpl_var name /> <tmpl_if state>(<tmpl_var state />)</tmpl_if>
              <tmpl_if url >
                </a>
              </tmpl_if>
            </h2>
            <div class="trip-summary-date">
              <TMPL_VAR NAME="date" />
            </div>
          </div>
        </div>

        <div class="row">
          <TMPL_IF NAME="picture_html_1">
            <div class="col-lg-6 col-xl-4">
              <TMPL_VAR ESCAPE="none" NAME="picture_html_1" />
            </div>
          </TMPL_IF>
          <TMPL_IF NAME="picture_html_2">
            <div class="d-none d-lg-block col-lg-6 col-xl-4">
              <TMPL_VAR ESCAPE="none" NAME="picture_html_2" />
            </div>
          </TMPL_IF>
          <TMPL_IF NAME="picture_html_3">
            <div class="d-none d-xl-block col-xl-4">
              <TMPL_VAR ESCAPE="none" NAME="picture_html_3" />
            </div>
          </TMPL_IF>
        </div>
      </TMPL_LOOP>

      <div class="row">
        <div class="col-12">
          <br />
          <TMPL_INCLUDE NAME="../shared/dropdown-button.html" />
          <TMPL_INCLUDE NAME="../shared/foot.html" />
        </div>
      </div>
    </div>
  </body>
</html>
