<!doctype html>
<html lang="en">
  <head>
    <tmpl_include name="../shared/head.html" />
  </head>
  <body>
    <tmpl_include name="../shared/navbar.html" />

    <div class="container">
      <div class="row">
        <div class="col-12">
          <tmpl_include name="../shared/heading-with-dropdown.html" />
        </div>
      </div>

      <tmpl_loop trips>
        <div class="row">
          <div class="col-12">
            <h2 class="trip-summary-name">
              <tmpl_if url >
                <a href="<tmpl_var url escape=none />">
              </tmpl_if>
              <tmpl_var name /> <tmpl_if state>(<tmpl_var state />)</tmpl_if>
              <tmpl_if url >
                </a>
              </tmpl_if>
            </h2>
            <div class="trip-summary-date">
              <tmpl_var date />
            </div>
          </div>
        </div>

        <div class="row">
          <tmpl_if name="picture_html_1">
            <div class="col-lg-6 col-xl-4">
              <tmpl_var escape="none" name="picture_html_1" />
            </div>
          </tmpl_if>
          <tmpl_if name="picture_html_2">
            <div class="d-none d-lg-block col-lg-6 col-xl-4">
              <tmpl_var escape="none" name="picture_html_2" />
            </div>
          </tmpl_if>
          <tmpl_if name="picture_html_3">
            <div class="d-none d-xl-block col-xl-4">
              <tmpl_var escape="none" name="picture_html_3" />
            </div>
          </tmpl_if>
        </div>
      </tmpl_loop>

      <div class="row">
        <div class="col-12">
          <br />
          <tmpl_include name="../shared/dropdown-button.html" />
          <tmpl_include name="../shared/foot.html" />
        </div>
      </div>
    </div>
  </body>
</html>
