<tmpl_if route_html>
  <p>
    <tmpl_var route_html escape="none" />
  </p>
</tmpl_if>

<tmpl_loop sections>
  <tmpl_if name>
    <h2><tmpl_var name /></h2>
  </tmpl_if>

  <tmpl_if start_date>
    <li class="flow-list-item">
      <tmpl_include page/info.html />
    </li>
  </tmpl_if>

  <tmpl_if map_inputs>
    <li class="flow-list-item">
      <tmpl_include ../shared/map.html />
    </li>
  </tmpl_if>

  <tmpl_loop pictures>
    <li class="flow-list-item">
      <tmpl_include ../picture/single.html />
    </li>
  </tmpl_loop>
</tmpl_loop>
