You can get into dangerous and even <b>fatal</b> situations when scrambling.
You should <b>not</b> rely on information from this website for your personal
safety.  Only you are responsible for your own safety.  Make sure you
have the skills and information you need to venture out in the
wilderness (themountaineers scrambling class can help here), and rely
on your good judgement when scrambling.  The information on this
website does not come close to covering everything you need to know to
venture out in the wilderness.  And there are no guarantees that the
information on this website is accurate, it probably does contain
errors and definitely contains subjective opinions.

By using this website you assume responsibility for your own safety
when using information (erroneous or not) from this website.
