<!-- This site contains &lt;a href="../../g/r/index.html"&gt;trip reports&lt;/a&gt; and
&lt;a href="../../g/m/pictures.html"&gt;pictures&lt;/a&gt; for all the hikes,
scrambles, and climbs I have done since 2003.  (Scrambles are
off-trail hikes, usually to a ridge or summit.)  You can learn more
about scrambling and climbing by taking one of the excellent courses offered by themountaineers.
-->

<!--
All pages on this site were created by a <a
href="software.html">Perl program</a> that creates HTML files based on
XML <a href="../../g/r/index.html">trip reports</a> I write.  
See my <a href="software.html">software</a> page for more about this
program.
-->