<ul class="flow-list floated-flow-list">
  <li class="flow-list-item">
    <tmpl_if aka>
      <div class="field-container">
        <div class="field-name">AKA:</div>
        <div class="field-value"><tmpl_var aka /></div>
      </div>
    </tmpl_if>

    <tmpl_if elevation>
      <div class="field-container">
        <div class="field-name">Elevation:</div>
        <div class="field-value"><tmpl_var elevation /></div>
      </div>
    </tmpl_if>

    <tmpl_if prominence>
      <div class="field-container">
        <div class="field-name">Prominence:</div>
        <div class="field-value"><tmpl_var prominence /></div>
      </div>
    </tmpl_if>

    <tmpl_if state>
      <div class="field-container">
        <div class="field-name">State:</div>
        <div class="field-value"><tmpl_var state /></div>
      </div>
    </tmpl_if>

    <tmpl_if counties>
      <div class="field-container">
        <div class="field-name">Counties:</div>
        <div class="field-value"><tmpl_var name="counties" /></div>
      </div>
    </tmpl_if>

    <tmpl_if recognizable_areas>
      <div class="field-container">
        <div class="field-name">In:</div>
        <div class="field-value"><tmpl_var recognizable_areas /></div>
      </div>
    </tmpl_if>

    <tmpl_if usgs_quads>
      <div class="field-container">
        <div class="field-name">USGS Quad:</div>
        <div class="field-value"><tmpl_var usgs_quads /></div>
      </div>
    </tmpl_if>

    <tmpl_if trips>
      <h2>Trip Reports</h2>
      <ul>
        <tmpl_loop trips>
          <li>
            <div class="trip-thumbnail">
              <div class="trip-thumbnail-title">
		<a href="<tmpl_var url escape=none />"><tmpl_var name /></a>
              </div>
              <div class="trip-thumbnail-date">
                <tmpl_var date />
              </div>
            </div>
          </li>
        </tmpl_loop>
      </ul>
    </tmpl_if>

    <tmpl_if description_html>
      <h2>Description</h2>
      <tmpl_var escape="none" description_html />
    </tmpl_if>

    <tmpl_if name_origin_html>
      <h2>Name Origin</h2>
      <tmpl_var escape="none" name_origin_html />
    </tmpl_if>
  </li>

  <tmpl_if map_inputs>
    <li class="flow-list-item">
      <tmpl_include ../shared/map.html />
    </li>
  </tmpl_if>

  <tmpl_loop pictures>
    <li class="flow-list-item">
      <tmpl_include ../picture/single.html />
    </li>
  </tmpl_loop>
</ul>

<br clear="all" />
